@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root 
{
  --clr-interact: hsla(274, 61%, 69%, 1);
  --clr-text: hsla(0, 0%, 100%, 1);
  --clr-primary: hsla(202, 54%, 61%, 1);
  --clr-positive: hsla(148, 54%, 65%, 1);
  --clr-negative: hsla(0, 54%, 65%, 1);
  --clr-active: hsla(61, 100%, 50%, 1);
  --clr-interact-hover: hsla(274, 61%, 50%, 1);
  
}

::selection {
  color: hsla(0, 0%, 0%, 1);;
  background: var(--clr-text);
}

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-interact);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-interact-hover);
}

.App
{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 100px;
}

main
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

 /* nav menu */
.nav-menu
{
  background-color: var(--clr-interact);
  color: var(--clr-text);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  height: 50px;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.nav-btn
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-btn:hover
{
  background-color: var(--clr-interact-hover);
}

.active
{
  color: var(--clr-active);
}

/* inputs */
input
{
  accent-color: var(--clr-interact-active);
}

/* buttons */
.btn-add
{
  background-color: var(--clr-interact);
  color: var(--clr-text);
  width: 70px;
  height: 70px;
  font-size: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add:hover, .btn-dlt:hover, .btn-open:hover
{
  background-color: var(--clr-interact-hover);
}

.btn-dlt, .btn-open
{
  background-color: var(--clr-interact);
  width: 70%;
  display: flex;
  justify-content: center;
  border-radius: 0.40em;
}


.dagenlijst
{
  @apply grid grid-flow-row gap-8 justify-items-center mt-8;
}

.dag
{
  @apply grid w-3/4 text-3xl p-2 rounded-xl;
  justify-content: space-around;
  grid-template-areas: 
  "dag-delete"
  "aanw-afw";
}

.aanw-afw
{
  @apply grid grid-flow-col gap-3;
  justify-content: space-around;
  grid-area: "aanw-afw";
}

.aanw, .afw
{
  @apply grid text-2xl rounded-full;
  height: 3ch;
  width: 3ch;
  align-content: center;
}

.dag-delete
{
  @apply grid grid-flow-col gap-3;
  justify-content: space-around;
  grid-area: dag-delete;
  grid-template-areas: 
  "datum delete";
}

.datum
{
  grid-area: datum;
}

.delete
{
  grid-area: delete;
}



@media screen and (min-width: 800px)
{
  .dagenlijst
  {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }

  .dag
  {
    grid-template-areas: 
    "dag-delete"
    "aanw-afw";
  }
}
