@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root 
{
  --clr-interact: hsla(274, 61%, 69%, 1);
  --clr-text: hsla(0, 0%, 100%, 1);
  --clr-text2: hsla(0, 0%, 0%, 1);
  --clr-primary: hsla(202, 54%, 61%, 1);
  --clr-positive: hsla(148, 54%, 65%, 1);
  --clr-negative: hsla(0, 54%, 65%, 1);
  --clr-active: hsla(61, 100%, 50%, 1);
  --clr-interact-hover: hsla(274, 61%, 50%, 1);
  --clr-disabled: gray;
}

::selection {
  color: hsla(0, 0%, 0%, 1);;
  background: var(--clr-text);
}

::-webkit-scrollbar {
  width: 0em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-interact);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-interact-hover);
}

.App
{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.875rem;
  margin-bottom: 100px;
  color: var(--clr-text);
  background-color: var(--clr-text);
}

main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  margin-top: 1.5em;
}

.main-container
{
  display: grid;
  border-radius: 0.75rem;
  width: 75%;
  justify-content: space-around;
  background-color: var(--clr-primary);
  padding: 0.4em;
  max-width: 11em;
}

 /* nav menu */
.nav-menu
{
  background-color: var(--clr-interact);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: 50px;
  align-items: center;
  height: 50px;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.nav-btn
{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.nav-btn:hover
{
  background-color: var(--clr-interact-hover);
}

.active
{
  color: var(--clr-active);
}

/* inputs */
input
{
  accent-color: var(--clr-interact-hover);
}

/* header */
h1
{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-primary);
  width: 100%;
  height: 55px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 + *
{
  margin-top: 30px;
}

h2
{
  color: var(--clr-text2);
}

/* buttons */
button[disabled], button[disabled]:hover
{
  background-color: var(--clr-disabled);
  cursor: default;
}

.btn-add
{
  background-color: var(--clr-interact);
  width: 70px;
  height: 70px;
  font-size: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add:hover, .btn-dlt:hover, .btn-open:hover, .btn-voegtoe:hover
{
  background-color: var(--clr-interact-hover);
}

.btn-dlt, .btn-open, .btn-voegtoe
{
  background-color: var(--clr-interact);
  width: clamp(1.5em , 3.2em, 100%);
  display: flex;
  justify-content: center;
  border-radius: 0.40em;
  align-items: center;
  padding: 0.2rem;
}

/* dagen */
.dag
{
  grid-template-columns: 1fr;
  gap: 0.2em;
}

.aanw, .afw
{
  display: grid;
  border-radius: 50%;
  height: 3ch;
  width: 3ch;
  align-content: center;
}

.clr-pos
{
  background-color: var(--clr-positive);
}

.clr-neg
{
  background-color: var(--clr-negative);
}

.aanw-afw, .delete-open
{
  display: flex;
  justify-content: space-evenly;
}

/* leden */
.lid
{
  font-size: 1.6rem;
  grid-auto-flow: column;
  gap: 0.2em;
  grid-template-columns: 1fr minmax(1.5em, 2em);
  grid-template-rows: 1fr;
}

.naam
{
  display: flex;
  gap: 0.7ch;
}

/* aanwezigheden */
.aanwezigheid
{
  grid-template-columns: 1fr;
  justify-items: center;
}

.aanwezigheid .naam
{

}

.delete-update
{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

input[type=checkbox]
{
  width: clamp(1.5em , 3.2em, 100%);
}

/* .dagenlijst
{
  @apply grid grid-flow-row gap-8 justify-items-center mt-8;
}



.aanw-afw
{
  @apply grid grid-flow-col gap-3;
  justify-content: space-around;
  grid-area: "aanw-afw";
}

.dag-delete
{
  @apply grid grid-flow-col gap-3;
  justify-content: space-around;
  grid-area: dag-delete;
  grid-template-areas: 
  "datum delete";
}

.datum
{
  grid-area: datum;
}

.delete
{
  grid-area: delete;
}



@media screen and (min-width: 800px)
{
  .dagenlijst
  {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }

  .dag
  {
    grid-template-areas: 
    "dag-delete"
    "aanw-afw";
  }
} */
